.main__header{
    /* background-color: rgb(102, 6, 6); */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* margin: 12px; */
    /* 2 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main__header--left{
    /* background-color: #7bd37b; */
    display: flex;
    padding-left:12px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
}

.main__header--right{
    display: flex;
    /* background-color: #d37b7b; */
    margin-left:12px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    }

.main__header--right .admin {
    display: flex;
    align-items: center;
}
.main__header--right .avatar {
    height: 40px;
    width: 40px;
}