.main__content {
    /* background-color: rgb(25, 126, 167); */
    flex-basis: 500px;
    display: flex;
    overflow-y: auto;
    position: relative;
}
.main__content::-webkit-scrollbar{
    display: none;
}
table {
    /* background-color: yellowgreen; */
    width: 100%;
    margin:12px;
    border-collapse: collapse;
}


th,td {
    height:40px;
    border: 1px solid transparent;
}
th{
    background-color: #F5F6FA;
    color: black;
    height:64px;   
    position: sticky;
    top:0; 
    font-weight: 500;
} 
td{
    text-align: center;
}

.text-align--left {
    text-align: left;
}
.name {
    color: var(--main-color);
}