@font-face {
    font-family: OpenSans Bold;
    src: url(../../assets/Fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans Regular;
    src: url(../../assets/Fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans Semibold;
    src: url(../../assets/Fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans ExtraBold;
    src: url(../../assets/Fonts/OpenSans-ExtraBold.ttf);
}

.main {
    /* background-color: blue; */
    height:100vh;
}

.main__container {
    display: flex;
    flex-direction: column;
    display: none;
}

.text-align--center {
    text-align: center;
}

.align-item--center {
    align-items: center;
}
.text-align--left{
    text-align: left;
}