.main__paging{
    /* background-color: rgb(107, 10, 102); */
    height: 56px;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
}

.main__paging--icons{    /* justify-conten:center; */
    margin: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.main__paging--icons .icon {
    padding-left:20px;
    width: 28px;
    height:28px;
    padding:12px;
}


.main__paging--icons input {
    width: 64px;
    height:32px;
    text-align: center;
    border-radius: 4px;
    border:1px solid #E0E0E0;
}

.paging--icon {
    color:black;
}

.main__pagin--text {
    color:#4D4F5C;
}