.sidebar {
    background-color: #24344B;
    height:100vh;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    /* background-color: #e78d8d; */
    height:56px;
    color: #ffffff;
    margin: 0px 12px 40px 12px;
}

.sidebar__title--left{
    display: flex;
    gap:8px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.sidebar__title--left img {
    height: 28px;
    width:28px;
}

.sidebar__title--right{
    display: flex;
    align-items: center;
    
}

.sidebar__main + .sidebar__main a{
    display: flex;
    flex-direction: column;
    color: white;
    /* margin:12px 12px; */


}

.sidebar__main a {
    display: flex;
    text-decoration: none;
    margin:0px 12px 28px 12px;
    color: white;
    gap:8px;
    align-items: center;

}
.sidebar__main a:active{
    /* background-color: #404F64; */
    border-left:2px solid #0DD469;
    color: #0DD469;
    font-weight: 700;
}
.sidebar__main a:hover{
    background-color: #B1B1B1;
}

.sidebar__main .icon {
    width: 28px;
    height:28px;
    /* margin: 0px 12px; */

}
